.top-nav
    justify-self: right
    align-self: center
.top-nav-list
    list-style-type: none

.top-nav-item
    float: left
    a
        text-decoration: none
        color: #898A8B
        font-weight: 600
        margin-left: 20px
        &:hover
            color: #272829

.mobile-menu-bar
    display: none
    width: 100px
    height: 100%
    align-items: center
    justify-content: center

.top-menu-modal
    display: none

@media (min-width: 720px) and (max-width: 1024px)
    .top-menu-modal
        display: none

@media (min-width: 320px) and (max-width: 720px)
    .top-nav
        display: none

    .top-menu-modal
        padding-top: 300px
        position: fixed
        display: none
        grid-template-columns: 1fr
        grid-template-rows: 80px 80px 80px
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba(51, 51, 51, 0.9)
        z-index: 2
        a
            justify-self: center
            color: #FFFFFF
            text-decoration: none
            text-transform: uppercase
            font-weight: 700

    .mobile-menu-bar
        display: flex
        position: fixed
        bottom: 0
        align-self: center
        justify-content: center
        width: 100%
        height: 60px
        z-index: 3
        background-color: #0F0F0F
        a
            font-size: 24px
            text-decoration: none
            color: #FFFFFF
    .close
        display: none

    .mobile-menu-control
        background-color: #ffffff
        height: 40px
        width: 40px
        border-radius: 20px
        outline: none

    [aria-expanded='true'] ~ div
        display: grid

    [aria-expanded='false'] .close
        display: none

    [aria-expanded='true'] .close
        display: inline-block

    [aria-expanded='true'] .top-menu-modal
        display: grid

    [aria-expanded='true'] .open
        display: none